<% include ../partials/header %>
    <div class="border1">
        <h1 style="text-align:center;">Edit CampGround</h1>
        <form method="POST" action="/campground/<%=foundcamp._id%>?_method=PUT">
            <div class="form-group form">
                <input class="form-control" type="text" name="campground[name]" value="<%=foundcamp.name%>">    
            </div>
            <div class="form-group form">
                <input class="form-control" type="text" name="campground[image]" value="<%=foundcamp.image%>">    
            </div>
            <div class="form-group form">
                <input class="form-control" type="text" name="campground[location]" value="<%=foundcamp.location%>">    
            </div>
            <div class="form-group form">
                <input class="form-control" type="text" name="campground[description]" value="<%=foundcamp.description%>">    
            </div>
            <div class="form-group form">
                <input class="form-control" type="number" name="campground[price]" value="<%=foundcamp.price%>" min="0.01" step="0.01">    
            </div>
            <div class="form-group form">
                <button class="btn btn-lg btn-primary btn-block">Submit</button>    
            </div>
            
        </form>
        <div class="form-group form">
            <a href="/campground" class="btn btn-lg btn-default btn-block"> Go Back </a>
        </div>
        
    </div>
    
<% include ../partials/footer%>